@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    background-color: #fafafa;
}

button:hover {
    cursor: pointer;
}

ion-icon:hover {
    cursor: pointer;
}

.top {
    width: 100%;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
    font-weight: 700;
    color: #fafafa;
    height: 70px;
    box-sizing: border-box;
}

.quizzes-list {
    margin: 75px auto 75px;
    max-width: 1050px;
}

.create-quizz {
    border: 1px #D4D4D4 dashed;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 180px;
    margin-bottom: 75px;
}

.create-quizz p {
    font-size: 20px;
    color: #B9B9B9;
    width: 250px;
    text-align: center;
    line-height: 24px;
}

.create-quizz button {
    background-color: inherit;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    font-size: 21px;
    color: #EC362D;
    width: 150px;
    height: 40px;
}

.your-quizzes {
    margin-top: 70px;
    margin-bottom: 50px;
}

.button-plus {
    display: flex;
    align-items: center;
}

.button-plus h3 {
    margin-right: 15px;
}

.button-plus ion-icon {
    color: #EC362D;
    font-size: 30px;
}

.your-quizzes h3, .all-quizzes h3 {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.quizzes {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25%;
    margin-top: 10px;
}

.quizz {
    width: 32.5%;
    margin-bottom: 15px;
    position: relative;
}

.quizz:hover {
    cursor: pointer;
}

.quizz img {
    width: 100%;
    border-radius: 5px;
    height: 181px;
    object-fit: cover;
}

.overlay {
    word-break: break-word;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(9,9,121,0) 100%, rgba(0,212,255,1) 100%);
}

.title {
    font-size: 19px;
    color: #fff;
    margin: 0 17px 17px;
    line-height: 22px;
}

/* tela do quizz */
.quizz-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizz-details > p {
    margin: 20px 0;
}

.quizz-top {
    width: 100%;
    position: relative;
}

.quizz-top .overlay {
    justify-content: center;
    align-items: center;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.6);
}

.quizz-top img {
    height: 226px;
    width: 100%;
    object-fit: cover;
}

.quizz-top h2 {
    font-size: 38px;
    margin: 0 10px;
    text-align: center;
    color: #fff;
    word-break: break-all;
}

.questions {
    width: 758px;
}

.quizz-details .question {
    padding: 28px 35px;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

.question-top {
    width: 100%;
    height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    color: #fff;
    background-color: #434CA0;
    margin-bottom: 20px;
    text-align: center;
    overflow-wrap: break-word;
    word-break: break-all;
    padding: 15px;
}

.answers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.answers h3 {
    word-break: break-all;
}

.answer {
    max-width: 48.5%;
    width: 48.5%;
    margin-bottom: 18px;
}

.answer:hover {
    cursor: pointer;
}

.answer img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.answer h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 8px;
}

.answer.disabled {
    opacity: 30%;
}

.answer.disabled:hover,
.answer.selected:hover {
    cursor: default;
}

.answer.incorrect h3 {
    color: #FF4B4B;
}

.answer.correct h3 {
    color: #009C22;
}

.result .question-top {
    height: 100px;
    background-color: #EC362D;
}

.result-details {
    display: flex;
    justify-content: space-between;
}

.result-details img {
    width: 364px;
    height: 272px;
    object-fit: cover;
}

.result-details p {
    margin-left: 22px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #484848;
    word-break: break-all;
}

.end-buttons {
    display: flex;
    flex-direction: column;
    margin: 58px 0 86px 0;
}

.end-buttons button {
    width: 260px;
    height: 52px;
    font-size: 20px;
    border: none;
}

.end-buttons .primary {
    background-color: #EC362D;
    border-radius: 15px;
    color: #FFF5F4;
    margin-bottom: 16px;
}

.end-buttons .secondary {
    background-color: inherit;
    color: #818181;
}

/* fim tela do quizz */

/* CRIAÇÃO DO QUIZZ */

.quizz-creation input {
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 12px 23px;
    font-size: 19px;
    margin-top: 10px;
}

.quizz-creation input::placeholder {
    font-style: italic;
    color: #BABABA;
}

textarea {
    outline: none;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 12px 23px;
    font-size: 19px;
    margin-top: 10px;
    height: 177px;
}

textarea::placeholder {
    font-style: italic;
    color: #BABABA;
}

.quizz-creation button {
    background-color: #EC362D;
    border-radius: 20px;
    padding: 10px 40px;
    border: none;
    color: #fff;
    font-size: 21px;
    margin-top: 45px;
}

.quizz-creation span {
    font-size: 23px;
    font-weight: 700;
    color: #000;
}

.quizz-creation div:first-child input:first-child {
    margin-top: 0;
}

.page-form {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.page-form .quizz {
    width: 100%;
    margin-bottom: 25px;
}

.page-form > span {
    margin-bottom: 35px;
}

.form-box {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .05);
    box-sizing: border-box;
}

.form-box span {
    font-size: 20px;
}

.form-box img {
    cursor: pointer;
}

.edit-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-entry img {
    height: 23px;
}

.fields {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.fields span {
    margin-bottom: 10px;
    margin-top: 20px;
}

.fields div {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.fields div:last-child {
    margin-bottom: 0;
}

.quizz-finished {
    width: 100%;
}

.quizz-finished .quizz img {
    height: 100%;
}

button.back-home {
    margin-top: 10px;
    background-color: #fafafa;
    color: #818181;
}

/* FIM CRIAÇÃO DO QUIZZ */

@media (max-width: 1100px) {
    .quizzes-list {
        margin: 30px auto 30px;
        padding: 0 17px;
    }
    .quizz {
        width: 100%;
    }
    .your-quizzes {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .create-quizz {
        margin-bottom: 35px;
    }
    .quizzes {
        gap: unset;
    }

    /* tela do quizz */
    .quizz-top h2 {
        font-size: 18px;
    }
    .answer {
        width: 100%;
    }
    .questions {
        width: 100%;
    }
    .quizz-details .question {
        margin-top: 28px;
        padding: 18px;
    }
    .question-top {
        font-size: 18px;
    }
    .answer h3 {
        font-size: 14px;
    }
    .result-details {
        flex-direction: column;
        justify-content: initial;
    }
    .result-details img {
        width: 100%;
    }
    .result-details p {
        margin: 10px 0;
    }
    .end-buttons {
        margin: 34px 0 20px 0;
    }
    /* fim tela do quizz */

    /* CRIAÇÃO DO QUIZZ */

    .create-quizz {
        margin-bottom: 35px;
    }

    .page-form {
        margin: 35px auto;
    }

    .quizz-creation button {
        margin-top: 30px;
        font-size: 18px;
        border-radius: 15px;
    }

    .form-box {
        margin-bottom: 0;
    }

    .page-form .quizz {
        margin-bottom: 0;
    }

    button.back-home {
        margin-top: 10px;
    }

    .quizz-finished {
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    /* FIM CRIAÇÃO DO QUIZZ */
}

.hidden {
    display: none;
}